@{
    Layout = "_Layout";
    int size = 0;
    int secondCount = 0;
    int thirthCount = 0;

    string mark = ViewBag.mark;
    string model = ViewBag.model;
}

@model List<Auto>

<div class="ColumConteinerMainIndex">
    <div class="Line-Logo margin-bottom0 padding-left6">
        <p class="flex-item-400 Gray-085vw">
            <u class="Gray-085vwHover Poiner" onclick="location.href='@Url.Action("Index", "Home")'">Главная</u> / Объявления о продаже автомобилей в Беларуси
        </p>
    </div>
    <div class="Line-Logo margin-bottom0 padding-bottom0 padding-left6">
        <p class="flex-item-400 Black-2vw">Объявления о продаже автомобилей в Беларуси</p>
    </div>
    <div class="Line-Logo gap0 padding-top0">
        <div class="ColumConteiner width30">
            <form method="POST">
                <div class="Line-Logo gap0 padding-right0">
                    <div class="ColumForBtnPrivacy">
                        <select class="my-input" id="MarkSelect" name="mark" onchange="updateModels()">

                            @if (ViewBag.mark is null)
                            {
                                <option value="">Любая марка</option>
                            }
                            else
                            {
                                <option value="@ViewBag.mark">@ViewBag.mark</option>
                                <option value="">Любая марка</option>
                            }

                            @for (var i = 0; i < Model.Count; i++)
                            {
                                bool checkReplace = true;

                                for (int j = 0; j < i; j++)
                                {
                                    if (Model[j].Make == Model[i].Make)
                                    {
                                        checkReplace = false;
                                    }
                                }

                                if (checkReplace)
                                {
                                    <option value="@Model[i].Make">@Model[i].Make</option>
                                    secondCount++;
                                }
                            }
                        </select>

                        <select class="my-input" id="ModelSelect" name="model">
                            @if (ViewBag.model is null && ViewBag.mark is null)
                            {
                                <option value="">Любая модель</option>
                            }
                            else if (ViewBag.model != null && ViewBag.mark != null)
                            {
                                <option value="@ViewBag.model">@ViewBag.model</option>
                                <option value="">Любая модель</option>

                                for (var i = 0; i < Model.Count; i++)
                                {
                                    bool checkReplace = true;

                                    for (int j = 0; j < i; j++)
                                    {
                                        if (Model[j].Model == Model[i].Model)
                                        {
                                            checkReplace = false;
                                        }
                                    }

                                    if (checkReplace && Model[i].Make == mark && @ViewBag.model != Model[i].Model)
                                    {
                                        <option value="@Model[i].Model">@Model[i].Model</option>
                                        secondCount++;
                                    }
                                }
                            }
                            else if (ViewBag.model is null && ViewBag.mark != "")
                            {
                                <option value="">Любая модель</option>

                                for (var i = 0; i < Model.Count; i++)
                                {
                                    bool checkReplace = true;

                                    for (int j = 0; j < i; j++)
                                    {
                                        if (Model[j].Model == Model[i].Model)
                                        {
                                            checkReplace = false;
                                        }
                                    }

                                    if (checkReplace && Model[i].Make == mark)
                                    {
                                        <option value="@Model[i].Model">@Model[i].Model</option>
                                        secondCount++;
                                    }
                                }
                            }
                        </select>

                        <div class="Main-Line-Without-Pading">
                            <select class="my-input" id="YearSelect" name="year" onchange="updateYear()">
                                @if (ViewBag.year is null)
                                {
                                    <option value="">Год от</option>
                                }
                                else
                                {
                                    <option value="@ViewBag.year">@ViewBag.year</option>
                                    <option value="">Год от</option>
                                }
                                @for (int i = 1980; i < 2025; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>

                            <select class="my-input" id="YearSelectBefor" name="yearBefor">

                                @if (ViewBag.yearBefor is null && ViewBag.year is null)
                                {
                                    <option value="">До</option>
                                }
                                else if (ViewBag.yearBefor != null && ViewBag.year != null)
                                {
                                    <option value="@ViewBag.yearBefor">@ViewBag.yearBefor</option>
                                    <option value="">До</option>

                                    @for (int i = int.Parse(ViewBag.year); i < 2025; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                                else if (ViewBag.yearBefor is null && ViewBag.year != "")
                                {
                                    <option value="">До</option>

                                    @for (int i = int.Parse(ViewBag.year); i < 2025; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>


                        <div class="Main-Line-Without-Pading">
                            <select class="my-input" id="MoneySelect" onchange="updateMoney()" name="cost">

                                @if (ViewBag.cost is null)
                                {
                                    <option value="">Цена от, USD</option>
                                }
                                else
                                {
                                    <option value="@ViewBag.cost">@ViewBag.cost</option>
                                    <option value="">Цена от, USD</option>
                                }
                                @for (int i = 1000; i < 100000; i += 1000)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>

                            <select class="my-input" id="MoneySelectBefore" name="costBefor">

                                @if (ViewBag.costBefor is null && ViewBag.cost is null)
                                {
                                    <option value="">До</option>
                                }
                                else if (ViewBag.costBefor != null && ViewBag.cost != null)
                                {
                                    <option value="@ViewBag.costBefor">@ViewBag.costBefor</option>
                                    <option value="">До</option>

                                @for (int i = int.Parse(ViewBag.cost); i < 100000; i += 1000)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                                else if (ViewBag.costBefor is null && ViewBag.cost != "")
                                {
                                    <option value="">До</option>

                                @for (int i = int.Parse(ViewBag.cost); i < 100000; i += 1000)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>

                        <button class="my-button-Serch" type="submit">
                            <p class="flex-item White-1vw">Показать авто</p>
                        </button>
                    </div>
                </div>

                <div class="Main-Line margin5 width80">
                    <p class="flex-item-500 Black-1-5vw">Хотите купить авто?</p>
                </div>

                <div class="ColumHowSell margin5 width80 shadow">
                    <i class="fa-solid fa-1 Step"></i>
                    <p class="flex-item-500 Black-1-5vw">Выбираете автомобиль</p>
                    <p class="Black-1vw">Выбираете любой автомобиль на нашем портале, который вы хотите приобрести</p>
                </div>

                <div class="ColumHowSell margin5 width80 shadow">
                    <i class="fa-solid fa-2 Step"></i>
                    <p class="flex-item-500 Black-1-5vw">Звонок менеджера</p>
                    <p class="Black-1vw">Оставляете online-заявку с выбранным автомобилем и наш менеджер свяжется с Вами в ближайшее время</p>
                </div>

                <div class="ColumHowSell margin5 width80 shadow">
                    <i class="fa-solid fa-3 Step"></i>
                    <p class="flex-item-500 Black-1-5vw">Оформление сделки</p>
                    <p class="Black-1vw">Приезжаете к нам по указанному адресу для осмотра автомобиля и оформления сделки в офисе компании</p>
                </div>
            </form>

        </div>
        <div class="ColumConteiner width70">
            <div class="Line-Logo gap5 padding-left0 padding-right0">
                <img src="~/image/bmw-logo.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/hyundai.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/kia.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/Mercedes-Logo.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/pigo.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/volva.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/ford.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/reno.png" alt="Описание изображения" class="small-image2vh">
                <img src="~/image/ww.png" alt="Описание изображения" class="small-image2vh">
            </div>

            <div class="Line-1pxPrivacy padding-left0 width100"></div>

            <div class="Line-Logo gap5 padding-left0">
                @while (thirthCount != secondCount)
                {
                    if (size == 21)
                    {
                        break;
                    }
                    <ul class="no-bullets">
                        @for (var i = thirthCount; i < Model.Count; i++)
                        {
                            int count = 0;
                            bool checkReplace = true;

                            for (var j = 0; j < Model.Count; j++)
                            {
                                if (Model[i].Make == Model[j].Make)
                                {
                                    count++;
                                }
                            }

                            for (int j = 0; j < i; j++)
                            {
                                if (Model[j].Make == Model[i].Make)
                                {
                                    checkReplace = false;
                                }
                            }

                            thirthCount++;

                            if (checkReplace)
                            {
                                <li>
                                    <div class="LineForAbsolut width40vh">
                                        <p class="Marka-Abs"><b>@Model[i].Make</b></p>
                                        <p class="Marka-Count-Abs">@count</p>
                                    </div>
                                </li>

                                size++;

                                if (size % 7 == 0)
                                {
                                    break;
                                }
                            }
                        }
                    </ul>
                }
            </div>


            <div class="Line-CarBy gap6">
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (ViewBag.mark is null)
                    {
                        mark = Model[i].Make;
                    }
                    if (ViewBag.model is null)
                    {
                        model = Model[i].Model;
                    }
                    if (ViewBag.cost is null)
                    {
                        ViewBag.cost = "1000";
                    }
                    if (ViewBag.costBefor is null)
                    {
                        ViewBag.costBefor = "500000";
                    }
                    if (ViewBag.year is null)
                    {
                        ViewBag.year = "1980";
                    }
                    if (ViewBag.yearBefor is null)
                    {
                        ViewBag.yearBefor = "2024";
                    }

                    if (mark == Model[i].Make && model == Model[i].Model && double.Parse(ViewBag.cost) <= double.Parse(Model[i].Price.ToString())
                    && double.Parse(ViewBag.costBefor) >= double.Parse(Model[i].Price.ToString()) && int.Parse(ViewBag.year) <= Model[i].Year
                    && int.Parse(ViewBag.yearBefor) >= Model[i].Year)
                    {
                        <div class="ColumForSellAuto width29 padding-left0 margin-bottom5">
                            <img src="@Model[i].Photo" alt="Описание изображения" class="Sell-Car-image" />

                            <p class="flex-item Black-2vw">@Model[i].Make @Model[i].Model</p>

                            <p class="Black-1vw"> Цена: @Model[i].Price $</p>

                            <div class="Line-For-InfoCar background-color">
                                <p class="Black-1vw">@Model[i].Year год, @String.Format("{0:0.0}", Model[i].EngineCapacity).Replace(",", "."), @Model[i].Mileage км, коробка<br>@Model[i].Transmission.ToLower()</p>
                            </div>

                            <button class="my-button-Serch" onclick="location.href='@Url.Action("SeeCar", "Home", new {Make = @Model[i].Make, Model = @Model[i].Model, 
                                BodyType = @Model[i].BodyType, Year = @Model[i].Year, Price = @Model[i].Price, EngineType = @Model[i].EngineType,
                                Drive  = @Model[i].Drive, Transmission  = @Model[i].Transmission, 
                                Description  = @Model[i].Description, Mileage  = @Model[i].Mileage, PhotoUrl  = @Model[i].Photo,EngineCapacity = @String.Format("{0:0.0}", Model[i].EngineCapacity).Replace(",", ".")})'">
                                <p class="flex-item White-1-3vw">от @Math.Truncate(Math.Pow(double.Parse(Model[i].Price.ToString()), 0.65)) р./м</p>
                            </button>
                        </div>
                    }               
                }
            </div>
        </div>
    </div>
</div>


<script>
    const cars = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));

    function updateModels() {
        const carSelect = document.getElementById("MarkSelect");
        const modelSelect = document.getElementById("ModelSelect");
        const selectedMake = carSelect.value;

        // Очищаем предыдущие модели
        modelSelect.innerHTML = '<option value="">Любая модель</option>';

        if (selectedMake) {

            const uniqueModels = new Set();

            // Ищем модели для выбранной марки
            cars.forEach(car => {
                if (car.Make === selectedMake) {
                    uniqueModels.add(car.Model); // Добавляем модель в Set
                }
            });
            // Ищем модели для выбранной марки

            // Заполняем второй select
            uniqueModels.forEach(function (model) {
                const option = document.createElement("option");
                option.value = model;
                option.textContent = model;
                modelSelect.appendChild(option);
            });
        }
    }

    function updateYear() {
        const carSelect = document.getElementById("YearSelect");
        const YearSelectBefor = document.getElementById("YearSelectBefor");
        const selectedYear = carSelect.value;

        // Очищаем предыдущие модели
        YearSelectBefor.innerHTML = '<option value="">До</option>';

        if (selectedYear) {
            const uniqueModels = new Set();

            // Заполняем список годов от выбранного года до 2025
            for (let i = parseInt(selectedYear); i <= 2025; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.textContent = i;
                YearSelectBefor.appendChild(option);
            }
        }
    }

    function updateMoney() {
        const carSelect = document.getElementById("MoneySelect");
        const MoneySelectBefor = document.getElementById("MoneySelectBefore");
        const selectedMoney = carSelect.value;

        // Очищаем предыдущие модели
        MoneySelectBefor.innerHTML = '<option value="">До</option>';

        if (selectedMoney) {
            const uniqueModels = new Set();

            // Заполняем список годов от выбранного года до 2025
            for (let i = parseInt(selectedMoney); i <= 50000; i += 1000) {
                const option = document.createElement("option");
                option.value = i;
                option.textContent = i;
                MoneySelectBefor.appendChild(option);
            }
        }
    }
</script>
